<div id="Footer" class ="row d-flex justify-content-around mt-5 pt-4 pb-4">
        <div class="col-md-4 px-5">
        <ul class="Types">
            <li class="Highlight border-bottom pb-2">Expertise</li>
            <li>Meternity</li>
            <li>Marriage</li>
            <li>Ring Ceremony</li>
            <li>Pets</li>
            <li>Destination Shoot</li>
            <li>Babies</li>
            <li>Adult Shoot</li>
        </ul>
        </div>
        <div class="col-md-4 px-5">
            <ul class="Social">
                <li class="Highlight border-bottom pb-2">Social</li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Linkedin</li>
                <li>Google</li>
                
            </ul>
        </div>
        <div class="col-md-4 px-5">
            <ul class="Contactfooter">
                <li class="Highlight border-bottom pb-2">Contact</li>
                <li>Email</li>
                <li>Phone</li>
                <li>About</li>
                <li>Timings</li>
                <li>Extras</li>
            </ul>
        </div>
    </div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    </body>

</html>