<% include partials/header %>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6">
                <img class="img-fluid Drimg" src="https://scontent.fybz2-1.fna.fbcdn.net/v/t1.0-9/16406426_1379653082106208_3650668575037081813_n.jpg?_nc_cat=101&_nc_oc=AQkOYbTUAnmWiaNOfmwxvkVxaWEIQXR1z9mWpj8UFfKn8alxPYBXc9__iB3Sjp3iqEI&_nc_ht=scontent.fybz2-1.fna&oh=bb64e51aece6d7de92e5b8c03730b3b7&oe=5E258572">

        </div>
        <div class="col-lg-6 mt-sm-4 mt-5">
                <ul class="contact">
                    <li>Dr Hardik Patel</li>
                    <li>Saskatoon</li>
                    <li>639 317 9527</li>
                    <li>hardikpatel4482@gmail.com</li>

                </ul>
        </div>
    </div>
</div>

<% include partials/footer %>