<% include partials/header %>
      <div class="contain">
          <% images.forEach(function(image){ %>
          <div class="box">
            <img class= "img-fluid" src="<%= image.image %>">
          </div>
          <% }) %>  

      </div>
      

          
      <% include partials/footer %>       