body{
    font-family: 'Montserrat', sans-serif;
  
}
.NameHigh{
    font-weight: 100;
    font-size: 2em;

}
.Logoimg{
    height:40px;
    width:40px;
}
.he1{
 height:500px;
}

.navbar.scrolled {
	background: rgb(248, 246, 247);
    transition: background 1s;
    opacity: 0.9;
}
.contain{
    width: 100%;
    margin:;
    columns: 4;
    column-gap: 10px;
    float:left;
}

.contain .box {
    width: 100%;
    break-inside: avoid;
    /* margin-top: 10px; */
     margin-bottom: 10px; 
}
.img-wrapper{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 430px;
}
.imgadmin{
    height:400px;
    width:400px;
    break-inside: avoid;

}
.displayimages{
    display:flex;
     flex-wrap: wrap;
}
.openimage{
    width:800px;
    height: 600px;
}

@media (max-width: 960px){
.contain{
    columns:3;
}
}
@media (max-width: 768px){
    .contain{
        columns:2;
    }
    }
@media (max-width: 548px){
        .contain{
            columns:1;
}
}

.Drimg{
    max-height: 500px;

}

.contact{
    list-style: none;
    font-size:20pt;
}
#Footer{
    height:300px;
    background-color: #f5f5f7;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #515154;
    font-size: 12px;
}

.Types{
list-style: none;
text-align: left;

}
.Social{
   list-style: none;
   text-align:left; 
}
.Contactfooter{
    list-style:none;
   text-align:left;
}
.Highlight{
    color:#1d1d1f;
    font-weight: Bold;
}
.deletimgbtn{
    list-style: none;
}