body{
    font-family: 'Montserrat', sans-serif;
  
}
.NameHigh{
    font-weight: 100;
    font-size: 2em;

}
.Logoimg{
    height:40px;
    width:40px;
}
.he1{
 height:500px;
}


.contain{
    width: 100%;
    margin:;
    columns: 4;
    column-gap: 10px;
}

.contain .box {
    width: 100%;
    break-inside: avoid;
    /* margin-top: 10px; */
     margin-bottom: 10px; 
}

@media (max-width: 960px){
.contain{
    columns:3;
}
}
@media (max-width: 768px){
    .contain{
        columns:2;
    }
    }
@media (max-width: 548px){
        .contain{
            columns:1;
}
}

.Drimg{
    max-height: 500px;

}

.contact{
    list-style: none;
    font-size:20pt;
}
#Footer{
    height:300px;
    background-color: #f5f5f7;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #515154;
    font-size: 12px;
}

.Types{
list-style: none;
text-align: left;

}
.Social{
   list-style: none;
   text-align:left; 
}
.Contactfooter{
    list-style:none;
   text-align:left;
}
.Highlight{
    color:#1d1d1f;
    font-weight: Bold;
}